on:
    push:
      branches: 
      - master
permissions:
    contents: write
    pages: write
    id-token: write
jobs:
    testsE2E:
        name: Deploying environment
        runs-on: ubuntu-latest
        steps:
        - name: Code verification
          uses: actions/checkout@v4

        - name: Setting up NodeJS environment
          uses: actions/setup-node@v6.0.0
        
        - name: Caching PNPM dependencies
          uses: actions/cache@v4
          with:
            path: ~/.pnpm-store
            key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
            restore-keys: |
              ${{ runner.os }}-pnpm-

        - name: Caching Playwright browsers
          uses: actions/cache@v4
          with:
            path: ~/.cache/ms-playwright
            key: ${{ runner.os }}-playwright-${{ hashFiles('**/pnpm-lock.yaml') }}
            restore-keys: |
              ${{ runner.os }}-playwright-
            
        - name: Installing PNPM
          run: npm install -g pnpm

        - name: Installing dependencies with PNPM
          run: pnpm install --frozen-lockfile
          
        - name: Installing Playwright
          run: pnpm exec playwright install --with-deps
          
        - name: Running tests
          run: pnpm playwright test --project=chromium

        - name: Exporting results
          uses: actions/upload-artifact@v4
          if: ${{ always() }} # Runs even if tests fail or are canceled
          with:
            name: playwright-report
            path: playwright-report/
            retention-days: 30

        - name: Deploying Playwright reports on GitHub Pages
          if: ${{ always() }}
          uses: peaceiris/actions-gh-pages@v3
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: ./playwright-report
